body {
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: calc(100vw / 80);
    /* 24px */
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/* .header {
    width: 100vw;
} */
.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 97%;
    margin-top: 1%;
    margin-bottom: 1vw;
}
.header__left-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.header-right-part-lang-img {
    margin-right: .5vw;
}
.header-right-part-lang-img:last-child {
    margin-right: 0;
}
.header__left-menu-lang {
    padding-bottom: .5vw;
}
.header__left-menu-list {
    display: flex;
}
.submenu {
    display: none;
}
.header__left-menu-nav {
    font-size: .6rem;
    line-height: 19px;
    font-weight: normal;
    font-weight: 400;
    color: #000000;
    margin-right: 2vw;
}
.header__left-menu-nav:last-child {
    margin-right: 0;
}
.sign-link {
    color: #00A0DC;
    font-weight: 500;
}
.header__right-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}
.header__right-menu-phone {
    display: flex;
    padding-bottom: .5vw;
}
.header__right-menu-phone-phone-img-wrapper {
    position: absolute;
    left: 10%;
    top: 39%;
}
.header__right-menu-phone-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #00A0DC;
}
.email-wrapper {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 500;
    font-size: 1vw;
    line-height: 19px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.header__menu {
    background-color: rgb(104, 175, 255);
    width: 100%;
}

.menu__body {
    
    margin: 0 auto;
}
.menu__link {
    display: block;
/* background-color: rgb(104, 175, 255); */
padding: 15px 37px 12px 23px;
font-style: normal;
font-weight: 700;
font-size: 1vw;
line-height: 27px;
color: rgba(0, 0, 0, 0.7);
font-family: 'Poppins', sans-serif;
text-decoration: none;
text-transform: uppercase;
transition: all .3s ease;
}
/* .menu__list > li {
    padding: 20px;
} */
.menu__list > li {
    position: relative;
    /* margin: 0 0 0 20px; */
}
.menu__sub-list {
    position: absolute;
    /* right: 20%; */
    /* background-color: rgb(104, 175, 255); */
    display: none;
    background-color: rgb(104, 175, 255);
    min-width: 320px;
}
.menu__sub-list li {
    padding: 5px 15px 5px 15px ;
}
.menu__sub-list li:last-child {
    margin: 0;
}
.menu__sub-link {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 5px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif;
    /* padding: 15px; */
    text-transform: none;
   
}
.menu__link {
    position: relative;
}
.menu__link:hover,
.menu__link:active {
color: #ffffff;
transition: all .3s ease;
}

.menu__sub-list li:hover,
.menu__sub-list li:active {
    background-color: #E8F3FF;
    color: rgba(0, 0, 0, 0.7);
}
.last-nav {
    min-width: 90%;
}
.main-nav-link-arrow {
    padding-left: 5%;
    padding-bottom: 2%;
}
.menu__link:hover .menu__sub-list {
    display: block;
}
/* .main-wrap {
    background: rgb(104, 175, 255);
}
.main-nav {
    
    width: 100%;
    margin-top: 10px;
    /* padding-top: 11px;
    padding-bottom: 10px; */
/* }
.main-nav-content {
    max-width: 1420px;
    margin: 0 auto;
}
.main-nav-content > li {
    position: relative;
    margin: 0 0 0 50px;
} */
/* .main-nav-content > li:first-child {
    margin: 0;
} */
/* .main-navlink {
    font-weight: 700;
    font-size: 1vw;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.main-navlink:hover {
    color: white;
transition: all .3s ease;
}
.main-sublink {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(104, 175, 255);
    padding: 15px;
    min-width: 315px;
}
.main-sublink li {
    margin: 0 0 10px 0;
}  */
/* .main-nav {
    width: 100%;
    background: rgb(104, 175, 255);
    margin-top: 24px;
    /* padding-top: 11px;
    padding-bottom: 10px; */
/* }

.main-nav-content {
    max-width: 1303px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-nav > ul li a {
    display: block;
    background-color: rgb(104, 175, 255);
    padding: 15px 30px 12px 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
}

.main-nav > ul li {
    position: relative;
} 

.main-nav-link-arrow {
    margin-bottom: 2.5px;
    margin-left: 4px;
    width: 7px;
    height: 6px;
}

.main-nav li a:hover {
background-color: #ECF3FB;
box-shadow: 1px 5px 10px -5px #85BEFF;
transition: all .3s ease;
}

/* sub menu */
 /* .main-nav li ul {
    position: absolute;
    min-width: 300px;
    display: none;
}

.main-nav li > ul li a {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    text-transform: none;
    background-color: #E8F3FF;
}  

.main-nav li:hover >ul {
    display: block;
}  */
/* .main-nav-link-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgb(104, 175, 255);
    padding-top: 15px;
    padding-bottom: 12px;
    border: none;
}

.main-nav-link-wrapper {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif;

} */
@media (min-width:993px) {
    .menu__list {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: auto;
    }
    
}